.main {
	opacity: 0;
	transform: translateY(30px);
	animation: fadeIn 2s ease forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

mark {
	background-color: #FFEEAD;
}

#head1-1 {
	text-align: center;
	font-size: 60px;
	padding-top: 70px;
	font-family: "Google Sans", sans-serif;
}

hr {
	align-self: center;
	width: auto;
	height: auto;
	background-color: black;
}

#head2-1 {
	font-size: 35px;
	text-align: center;
	font-family: "Google Sans", sans-serif;
}

.semifooter {
	opacity: 0;
	position: fixed;
	font-family: "Google Sans", sans-serif;
	bottom: 0px; 
	left: 50%; 
	transform: translateX(-50%);
	text-align: left;
	font-size: 15px;
	animation: fadeIn 2s ease forwards;
}

#head3-1 {
	font-family: "Google Sans", sans-serif;
	padding-top: 100px;
	text-align: center;
	font-size: 20px;
}

#paypal-container-6GJU4F3TG9F78 {
	margin-top: 50px;
	padding-top: 10px;
	font-family: "Google Sans", sans-serif;
}

body {
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-image: url("https://i.ibb.co/LXXWyPYy/image.jpg");
}

#paypal-wrapper {
	opacity: 0;
	transform: translateY(20px);
	transition: opacity 1.75s ease, transform 1.5s ease;
}

#paypal-wrapper.visible {
	opacity: 1;
	transform: translateY(0);
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

footer {
	transform: translateY(20px);
	opacity: 0;
	background-color: #241904;
	animation: fadeIn 3s ease forwards;
}

.footerContainer {
	width: 100%;
	padding: 70px 30px 20px;
}

.socialIcons {
	display: flex;
	justify-content: center;
}

.socialIcons a {
	text-decoration: none;
	width: 48px;
	height: 48px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px;
	background-color: #FFC439;
	margin: 10px;
	border-radius: 50%;
}

.socialIcons a i {
	font-size: 2em;
	color: white;
	opacity: 0.9;
}

/* Hover Effects on Social Media Icons */
.socialIcons a:hover {
	background-color: #003087;
	transition: 0.9s;
}

.socialIcons a:hover i {
	color: white;
	transition: 0.5s;
}

.footerNav {
	margin: 30px 0;
}

.footerNav ul {
	display: flex;
	justify-content: center;
	list-style-type: none;
}

.footerNav ul li a {
	color: white;
	margin: 20px;
	text-decoration: none;
	font-size: 1.3em;
	opacity: 0.7;
	transition: 0.5s;
}

.footerNav ul li a:hover {
	opacity: 1;
}

.footerBottom {
	background-color: #0F0A01;
	padding: 20px;
	text-align: center;
}

.footerBottom p{
	color: white;
}

.designer {
	opacity: 0.7;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 400;
	margin: 0px 5px;
}

@media (max-width: 700px) {
	.footerNav ul {
		flex-direction: column;
	}

	.footerNav ul li {
		width: 100%;
		text-align: center;
		margin: 10px;
	}
}
